[[source]]
url = "https://mirrors.ustc.edu.cn/pypi/web/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "*"
mkdocs-static-i18n = "*"
mkdocs-material = "*"

[dev-packages]

[requires]
python_version = "3"
